@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
    font-family: 'DM Sans', sans-serif;
}

.kalam {
    font-family: 'Kalam', cursive;
}
